* {
    box-sizing: border-box;
}
body {
    position: relative;
    display: flex;
    justify-content: center;
    font-family: 'Arial';
    background: whitesmoke;
    font-size: 14px;
}
#title {
    position: absolute;
}

svg {
    position: absolute;
    top: 80px;
    background: whitesmoke;
    box-shadow: 0px 0px 7px 5px gray;
    font-size: 12px;
    margin: 0 20px;
}

#tooltip {
    fill: rgb(233, 202, 251);
}

.bar {
    fill: #cc66ff;
}
.bar:hover {
    fill: white;
}
footer {
    position: relative;
    top: 500px;
    text-align: center;
    font-size: 12;
}
#gmail {
    text-decoration: none;
    color: #cc66ff;
    cursor: pointer;
}